{% extends "base.html.twig" %}

{% block title %} Ativos {% endblock %}

{% block content %}
  {% include "Header.html.twig" %}

  <div class="layout">
    {% include "Sidebar.html.twig" %}

    <main class="main-content">
      <section class="home-section">
        <h1>Bem-vindo à Ativos/h1>
    </main>
  </div>
{% endblock %}