<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SUPORTE - TI{% endblock %}</title>
    <link rel="stylesheet" href="{{ base_url }}css/styles.css">
</head>
<body>
    {% block header %}{% endblock %}

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
