{# dashboard.html.twig #}
{% extends "base.html.twig" %}

{% block header %}
    {% include "header.html.twig" %}
{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    <p>Bem-vindo, {{ usuario.nome }}!</p>
{% endblock %}
