<header class="site-header">
    <nav>
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/input">Input</a></li>
            <li><a href="/report">Report</a></li>
            <li><a href="/input/Saint">Saint</a></li>
        </ul>
    </nav>
</header>
