{% extends "base.html.twig" %}

{% block content %}
<div class="login-wrapper">

    <section class="login-container">
    
            <!-- Coluna esquerda -->
            <section class="login-left">
                <h1>Bem-vindo ao DataGest</h1>
                <p>Você pode acessar o sistema usando sua conta existente.</p>
            </section>

            <!-- Coluna direita -->
            <section class="login-right">
                <h2>Acessar conta</h2>

                {% if erro is defined %}
                    <div class="alert alert-error">
                        {{ erro }}
                    </div>
                {% endif %}

                <form method="post" action="index.php?rota=autenticar" class="login-form">
                    <div class="form-group">
                        <input type="email" name="email" id="email" placeholder="Email" required>
                    </div>

                    <div class="form-group">
                        <input type="password" name="senha" id="senha" placeholder="Senha" required>
                    </div>

                    <button type="submit" class="btn">Entrar</button>
                </form>

            </section>
    </section>

</div>
{% endblock %}
