<header>
  <nav class="nav-container">

  
    <div class="mobile-menu-area">
      <div class="mobile-menu" id="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <span class="page-title">Home</span>
    </div>

    <div class="logo-area">
      <a class="logo" href="/">
        <img src="/images/LogoPadrao.png" alt="Logo Suporte TI" />
      </a>
    </div>

    <div class="user-area">
      <span class="user-name">Usuário:</span>
    </div>
  </nav>
</header>
